[submodule "repo/cuda-samples"]
	path = third_party/NVIDIA/cuda-samples
	url = https://github.com/NVIDIA/cuda-samples.git
[submodule "repo/NVIDIA/cutlass"]
	path = third_party/NVIDIA/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/xlite-dev/LeetCUDA"]
	path = third_party/xlite-dev/LeetCUDA
	url = https://github.com/xlite-dev/LeetCUDA.git
[submodule "third_party/NVIDIA/compute-eval"]
	path = third_party/NVIDIA/compute-eval
	url = https://github.com/NVIDIA/compute-eval.git
[submodule "third_party/mirage"]
	path = third_party/mirage
	url = git@github.com:llm-transpiler/mirage.git
[submodule "third_party/ThunderKittens"]
	path = third_party/ThunderKittens
	url = git@github.com:llm-transpiler/ThunderKittens.git
[submodule "third_party/xpiler-eval"]
	path = third_party/xpiler-eval
	url = https://github.com/ShouyangDong/xpiler-eval.git
[submodule "third_party/nano-vllm"]
	path = third_party/nano-vllm
	url = https://github.com/GeeeekExplorer/nano-vllm.git
[submodule "third_party/FlagOpen/optimize_softmax"]
	path = third_party/FlagOpen/optimize_softmax
	url = https://github.com/iclementine/optimize_softmax.git
[submodule "third_party/triton"]
	path = third_party/triton
	url = https://github.com/triton-lang/triton.git
[submodule "third_party/kperfir_artifact"]
	path = third_party/kperfir_artifact
	url = https://github.com/ChandlerGuan/kperfir_artifact.git
[submodule "third_party/FlagOpen/FlagGems"]
	path = third_party/FlagOpen/FlagGems
	url = https://github.com/FlagOpen/FlagGems.git
[submodule "third_party/Liger-Kernel"]
	path = third_party/Liger-Kernel
	url = https://github.com/linkedin/Liger-Kernel.git
[submodule "third_party/tvm"]
	path = third_party/tvm
	url = https://github.com/apache/tvm
[submodule "third_party/quack"]
	path = third_party/quack
	url = https://github.com/Dao-AILab/quack.git
[submodule "third_party/flash-attention"]
	path = third_party/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "elib/cutlass_latest"]
	path = elib/cutlass_latest
	url = https://github.com/NVIDIA/cutlass.git
[submodule "elib/cutlass_v392"]
	path = elib/cutlass_v392
	url = https://github.com/NVIDIA/cutlass.git
[submodule "elib/cutlass_v330"]
	path = elib/cutlass_v330
	url = https://github.com/NVIDIA/cutlass.git
[submodule "elib/cutlass_v2110"]
	path = elib/cutlass_v2110
	url = https://github.com/NVIDIA/cutlass.git
[submodule "cudev"]
	path = cudev
	url = git@github.com:tiledsl/cudev.git
[submodule "third_party/Deformable-DETR"]
	path = third_party/Deformable-DETR
	url = https://github.com/fundamentalvision/Deformable-DETR
[submodule "third_party/unsloth"]
	path = third_party/unsloth
	url = https://github.com/unslothai/unsloth
