[submodule "repo/cuda-samples"]
	path = repo/cuda-samples
	url = https://github.com/NVIDIA/cuda-samples.git
[submodule "repo/NVIDIA/cutlass"]
	path = repo/NVIDIA/cutlass
	url = https://github.com/NVIDIA/cutlass.git
